.onboarding {
	margin: 50px auto;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	p {
		font-weight: 300;
		margin-top: 5px;
		opacity: 0.4;
	}

	.heading-text {
		margin: 10px 0;
		margin-bottom: 25px;
	}

	.links {
		display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        width: 100%;

        .link {
            background-color: #2F2F2F;
            border-radius: 10px;
            padding: 18px;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;

            img {
                width: 20px;
            }
        }
	}

	form {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 20px;
		flex-direction: column;

		.form-col {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 15px;

            &.link-col {
                flex-direction: column;
                gap: 10px;
            }

			&.section {
				flex-direction: column;
			}

			.heading-text {
				display: flex;
				flex-direction: column;
				align-items: start;
				width: 100%;
				margin: 0;
				margin-bottom: 6px;
			}

			.form-group {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: start;
				gap: 7px;
				width: 100%;
			}
		}
	}
}
