@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #171717;
		--foreground: #fff;
	}
}

h1,
h2,
h3,
h4 {
	letter-spacing: -1px;
}

body {
	background: var(--background);
	color: var(--foreground);
	/* font-family: var(--font-geist-sans), sans-serif; */
}

input,
textarea {
	background-color: #0d0d0d;
	padding: 18px 20px;
	border-radius: 10px;
	width: 100%;
	border: none;
	outline: none;
	color: inherit;
	font-family: inherit;
    font-weight: 400;

	&::placeholder {
		opacity: 0.5;
	}
}

button {
	padding: 15px 20px;
	border-radius: 10px;
	width: 100%;
	border: none;
	outline: none;
	font-family: inherit;
    font-weight: 500;
    letter-spacing: -1px;
    cursor: pointer;

    &.btn-primary {
        background-color: #ffffff;
        color: #171717;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #d8d8d8;
        }
    }
}
