.gig-feed {
	.search {
		display: flex;
		justify-content: center;
		gap: 10px;

		img {
			width: 22px;
			height: 22px;
		}

		.input {
			display: flex;
			align-items: center;
			gap: 10px;

			input {
				padding: 0;
				padding-left: 2px;
				background-color: none;
			}
		}

		.filter {
			background-color: var(--dark);
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			padding: 10px 25px;
			border-radius: 10px;
			cursor: pointer;
		}
	}

	.gigs {
		margin-top: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px;

		.gig {
			background-color: var(--dark);
			padding: 20px;
			border-radius: 20px;
			display: flex;
            justify-content: space-between;
			flex-direction: column;
			gap: 20px;

            .status {
                color: var(--yellow);
                font-weight: 500;
            }

			.btn {
				padding: 11px 0px;
			}

			p {
				opacity: 0.3;
				font-weight: 300;
			}
		}
	}

	.no-gigs {
		text-align: center;
		width: 100%;
		margin-top: 30px;

		p {
			opacity: 0.3;
			margin-top: 3px;
		}
	}
}

.modal-underlay {
	backdrop-filter: blur(4px);

	.confirmed {
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			width: 100px;
            margin-bottom: 20px;
		}
	}

	.btns {
		display: flex;
		gap: 10px;
	}

	.icon {
		display: flex;
		justify-content: end;

		img {
			width: 30px;
			opacity: 0.4;
			transition: 0.3s ease;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}
		}
	}

	p {
		font-weight: 300;
		opacity: 0.3;
	}

	.details {
		display: flex;
		justify-content: space-between;
		align-items: end;

		.detail {
			font-weight: 500;

			span {
				font-weight: 300;
				opacity: 0.4;
			}
		}
	}

	.modal-dialog {
		background-color: var(--dark);
		border: 1px solid #232323;
		border-radius: 20px;
		padding: 40px;
	}
}
